$primary: rgb(255, 0, 242);
$danger: #888888;
$warning: #0838AA;
$success: #9C7FDB;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/functions";

// Globals
$enable-shadows: false;