$primary: rgb(255, 0, 242);
$danger: rgb(68, 0, 255);

$success: rgb(162, 137, 232);
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/functions";

// Globals
$enable-shadows: false;