@import url('https://fonts.googleapis.com/css2?family=Nova Square:wght@300;400;500;600;700&display=swap');
$danger: #888888;
$warning: #0838AA;
$success: #9C7FDB;
$primary: #B1362C;
$font-family-base: "Nova Square";
$font-family-title: "Rakkas";
$bs-pink: #A5AEFF;
$bs-orange: #EF6464;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/functions";

// Globals
$enable-shadows: false;